<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ОблакО</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Projects-Clean.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md d-xxl-flex" style="top: 0px;position: sticky;z-index: 2;background: linear-gradient(152deg, rgba(159,168,255,0.5), rgba(132,207,203,0.5) 100%);">
        <div class="container-fluid"><a class="navbar-brand d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-center" href="#" style="font-size: 130%;height: 10vh;font-family: 'Open Sans Condensed', sans-serif;"><strong>ОблакО</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-xxl-flex justify-content-xxl-end" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item" style="font-size: 25px;"><a class="nav-link active" href="/lk" style="font-family: 'Open Sans Condensed', sans-serif;font-size: 80%;"><i class="far fa-user"></i>&nbsp;Личный кабинет</a></li>
                    <li class="nav-item" style="font-size: 25px;"><a class="nav-link active" href="#list" style="font-family: 'Open Sans Condensed', sans-serif;font-size: 80%;">Каталог</a></li>
                    <li class="nav-item" style="font-size: 25px;"><a class="nav-link active" href="https://vk.com/public203370905" style="text-decoration: none;font-size: 80%;"><i class="fab fa-vk"></i></a></li>
                </ul>
            </div>
        </div>
    </nav><a name="top"></a>
    <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="z-index: 1;">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background: url(&quot;https://static.tildacdn.com/lib/unsplash/e6f1fed2-8567-b7b1-65d5-6394edea497c/photo.jpg&quot;) center / cover;height: 90vh;width: 100vw;">
                <div class="d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;"><a class="btn btn-info btn-lg shadow-lg d-flex" role="button" style="font-size: 200%;border-top-style: solid;border-right-style: solid;border-top-left-radius: 40px;border-bottom-right-radius: 40px;box-shadow: 0px 0px rgb(0,0,0);" href="#list">Пойти купить</a>
                    <h1 class="display-4" style="color: rgb(255,255,255);text-shadow: 2px 2px 9px rgb(0,0,0);"><br>Добро пожаловать в "ОблакО"!<br><br></h1>
                </div>
            </div>
            <div class="carousel-item" style="background: url(&quot;https://thumb.tildacdn.com/tild3938-6465-4362-b736-666365646630/-/format/webp/Artboard1.png&quot;) center / cover;height: 90vh;width: 100vw;">
                <div class="d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;"><a class="btn btn-info btn-lg shadow-lg d-flex" role="button" style="font-size: 200%;border-top-style: solid;border-right-style: solid;border-top-left-radius: 40px;border-bottom-right-radius: 40px;box-shadow: 0px 0px rgb(0,0,0);font-family: 'Open Sans Condensed', sans-serif;" href="#list">Пойти купить</a>
                    <h1 class="display-4" style="color: rgb(255,255,255);text-shadow: 2px 2px 9px rgb(0,0,0);font-family: 'Open Sans Condensed', sans-serif;"><br><strong>БОЛЬШАЯ РАСПРОДАЖА В ОблакО.</strong><br><strong>СКИДКИ 30-70%</strong><br><br></h1>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
        </ol>
    </div><a name="list"></a>
    <div style="background: url(&quot;/assets/img/zjPdgtoTAsI.jpg&quot;);z-index: 0;background-size: cover;">
        <div style="width: 100%;background: rgba(0,0,0,0.45);"><a class="btn btn-light" role="button" style="position: sticky;z-index: 2;top: 95vh;border-top-left-radius: 4vh;border-bottom-right-radius: 4vh;border-top-right-radius: 4vh;box-shadow: 0px 0px 20px 4px rgb(0,0,0);" href="#top"><i class="far fa-arrow-alt-circle-up" style="font-size: 4vh;"></i></a>
            <div class="container-fluid" style="padding-bottom: 2vh;">
                <div class="row">
                    <div class="col">
                        <h1 class="display-1 text-center" style="color: rgb(255,255,255);padding-top: 5vh;font-family: 'Open Sans Condensed', sans-serif;">Каталог</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center" style="font-size: 25px;color: rgb(255,255,255);font-family: 'Open Sans Condensed', sans-serif;">Красивые, минималистичные вещи для эстетичной жизни, созданные приносить Вам радость.<br></p>
                    </div>
                </div>
                <div class="row row-cols-4" id="products-row-desctop">
                    {{products|safe}}
                </div>
                <div class="row row-cols-1" id="products-row-mobile">
                    {{products|safe}}
                </div>
                <div class="row" style="margin-top: 2vh;">
                    <div class="col d-flex d-xxl-flex justify-content-center justify-content-xxl-center"><a class="btn btn-dark border-dark shadow-lg" role="button" style="font-size: 200%;border-top-left-radius: 6vh;border-top-right-radius: 6vh;border-bottom-right-radius: 6vh;border-bottom-left-radius: 6vh;" href="https://vk.com/topic-203370905_47534652" target="_blank">Отзывы</a></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Ссылки</h3>
                    <ul>
                        <li><a href="/terms">Пользовательское соглашение</a></li>
                        <li><a href="#list">Каталог</a></li>
                        <li><a href="/lk">Личный кабинет</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>ОблакО</h3>
                    <p>Проект в Яндекс.Лицей</p>
                </div>
                <div class="col d-xxl-flex justify-content-xxl-start align-items-xxl-center item social"><a href="https://vk.com/oblako301" style="text-decoration: none;"><i class="fab fa-vk"></i></a></div>
            </div>
            <p class="copyright">ОблакО © 2021</p>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>